[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = git@github.com:it-boyer/almeida-cv.git
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:it-boyer/hugo-theme-even.git
